@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}
#bg{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-image: url("./img/bg.svg");
    background-attachment: fixed;
    background-size: 30%;
    opacity: 0.4;
    filter:alpha(opacity=40);
}
.navbar-default .navbar-brand{
	color: #000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a{
	color: #000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #04027a;
}
.topMenu{
	margin-bottom: 0px;
	color: #000;
	font-weight: bold;
	min-height: 70px;
    padding-top: 6px;
}
.topMenu a{
	color: #000;
}
.logo{
	float: left;
}
.logo img{width: 100%;}
.logo a{
	width: 70px;
}
.list-group-item{
	background: #fff;

}
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}
a.list-group-item-success, button.list-group-item-success{
	color: #000;

}
.innerContainer{
	width: 100%;
}
.leftMenu{
	background: #ddd;
	height: 900px;
	/*background: url("./img/bg.jpg");*/
	/*background-repeat: none;*/
}
#courseMenu{
	margin: auto;
	margin-top: 20px;
	font-size: 13px;
	font-family: 'Black Ops One', cursive;
}

.examplesDiv{
	background: #fff;
}
.exampleImg{
	margin: auto;
	margin-bottom: 20px;
	width: 90%;
}
.exampleImg img{
	width: 80%;
	margin: auto;
}
iframe {
     position: absolute;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 500px;
}
.containerData {
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     overflow: auto;
     color: #ffffff;
}

a[aria-expanded=false] .fa-caret-down {
   display: none;
}
a[aria-expanded=true] .fa-caret-up {
   display: none;
}
.fa{
	float: right;
}
#spearPhishing{
	display: none;
}
.examplesDiv{
	margin-top: 20px;
	border-right: 1px dashed #333;
}
.examplesDiv a{
	width: 100%;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 100px; 
	font-size: 20px;
	border-radius: 5px;
}
.examplesDiv a:Hover{
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.exampleBox{
	margin: auto;
}
.exampleOne{ 
	background: rgba(221, 62, 24, .9);
	display: block;
}
.exampleTwo{
	background: rgba(19, 162, 0, .9);
	display: block;
}
.exampleThree{
	background: rgba(1, 32, 155, .9);
	display: block;
}
.exampleFour{
	background: rgba(155, 0, 147, .9);
	display: block;
}
.exampleFive{
	background: rgba(155, 0, 23, .9);
	display: block;
}
.exampleSix{
	background: rgba(155, 0, 23, .9);
	display: block;
}
#spearExOne{
	display: none;
}
#spearExTwo{
	display: none;
}
#hubs{
	display: none;
}

/*Phishing Email template*/
.topArea{
	height: 50px;
}

.emailArea{
	
}
.emailArea img{
	width: 90%;
	border: 8px solid #ddd;
	border-radius: 10px;
	box-shadow: 0px 5px 20px 4px #888888;
}
.messageBody{
	background: #fff;
}
.subject{
	clear: both;
	margin-bottom: 30px;
}
.senderReceiver{
	width: 82%;

}
.from{
	width: 40%;
	float: left;
}
.receiver{
	width: 40%;
	float: right;
}